/*universal*/
html {
  background-color: rgba(123, 223, 76, 0.3);
}
.navbar-nav .mr-auto {
  background-color:teal;
  background-image: none;
  background-repeat: no-repeat;
 }

/*index_section*/
.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item {
  padding: 10px;
}

#products {
  padding-top: 51px;
}

#store-links {
  padding-top: 60px;
  padding-left: 20px;
}

#logo {
  padding-left: 250px;
}

img {
  height: 150px;
  width: auto;
}
#shopping {
  height: 25px;
  width: auto;
}
#register {
  height: 25px;
  width: auto;
}
#search {
  height: 25px;
  width: auto;
}
/*products_section*/

/*sign-in-or-register*/

/*store-links*/

/*contact-us*/

/*cart*/
