/*universal*/
html {
  background-color: rgba(123, 223, 76, 0.3);
}


/*index_section*/
.nav {
  background-color: #4b0082;
}

/*products_section*/
#logo {
  text-align: left;
  width: 160px;
  height: 130px;
}

/*sign-in-or-register*/

/*store-links*/

/*contact-us*/

/*cart*/
