/*universal*/
html {

}

body {
  background-color: rgba(123, 223, 76, 0.3);
  font-family: Tahoma, Geneva, sans-serif;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  color: grey;
  font-size: 40px;
  padding-left: 40px;
}

.icons {
  display: flex;
  flex-direction: row;

}

/* unvisited link */
a:link {
  color: grey;
}

/* visited link */
a:visited {
  color: grey;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: grey;
}
.fa-search {
  transform: rotate(30%);
}
/*Nav*/
a {
  text-align: center
}

ol {
  margin: 0;
  padding: 0;
  list-style-type: none
}

/* dropdowns in Nav Bar */
.menu {
  width: 100%;
  padding: 0 16px;
  display: block;
  position: relative
}

.menu>ol:first-child {
  width: 100%;
  display: flex;
  position: relative;
  flex-flow: row wrap;
  justify-content: center
}

.menu-item {
  width: 150px;
  position: relative;
  perspective: 100%;
  cursor: pointer
}

.menu-item a {
  width: 100%;
  padding: 16px 0;
  display: block;
  position: relative;
  color: #fff;
  border-radius: 4px;
  transition: all .5s ease;
  transform-style: preserve-3d
}

.menu-item a:before {
  width: 100%;
  padding: 16px 0;
  display: block;
  position: absolute;
  color: #000;
  border-radius: 4px
}

.menu>ol:first-child>.menu-item {
  display: block
}

.menu>ol:first-child>.menu-item>a {
  background: grey;
  box-shadow: 0 8px 6px -6px #595959
}

.menu>ol:first-child>.menu-item:nth-of-type(3)>a {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff
}

.menu>ol:first-child>.menu-item>a:before {
  background: rgba(98, 143, 35, 1);
  bottom: 90%;
  transform: rotateX(-90deg) translate3d(0, 0, 75px)
}

.menu>ol:first-child>.menu-item:nth-of-type(1)>a:before {
  content: "Products"
}

.menu>ol:first-child>.menu-item:nth-of-type(2)>a:before {
  content: "Connect With Us"
}

.menu>ol:first-child>.menu-item:nth-of-type(3)>a:before {
  content: "Store Links"
}

.menu>ol:first-child>.menu-item:nth-of-type(3)>a:after {
  content: "\0025BE";
  width: 100%;
  padding: 30px 0 0 0;
  top: 0;
  display: block;
  position: absolute;
  color: #fff;
  font-size: 20px;
  text-align: center
}

.menu>ol:first-child>.menu-item:hover>a {
  transform: rotateX(90deg)
}

.menu>ol:first-child>.menu-item:nth-of-type(3):hover>a:after {
  content: "\0025B4";
  color: #000;
  transform: rotateX(-90deg) translate3d(0, 0, 75px)
}

.sub-menu {
  background: rgba(9, 24, 76, 0);
  width: 100%;
  top: 51px;
  display: none;
  position: absolute;
  z-index: 99;
  border-top: 1px solid rgba(9, 24, 87, 0)
}

.sub-menu>.menu-item:nth-of-type(1) {
  animation: fadein-down .5s .2s ease both
}

.sub-menu>.menu-item:nth-of-type(2) {
  animation: fadein-down .7s .2s ease both
}

.sub-menu>.menu-item:nth-of-type(3) {
  animation: fadein-down .9s .2s ease both
}
.sub-menu>.menu-item:nth-of-type(4) {
  animation: fadein-down .9s .2s ease both
}
.sub-menu>.menu-item:nth-of-type(5) {
  animation: fadein-down .9s .2s ease both
}
.sub-menu>.menu-item:nth-of-type(6) {
  animation: fadein-down .9s .2s ease both
}

@keyframes fadein-down {
  from {
    display: none;
    opacity: 0;
    transform: translateY(-10px)
  }

  to {
    display: block;
    opacity: 1;
    transform: translateY(0)
  }
}

/* Sub Menu Color */
.sub-menu>.menu-item>a {
  background: rgba(9, 24, 87, 1)
}

.sub-menu>.menu-item:nth-of-type(1), .sub-menu>.menu-item:nth-of-type(2), .sub-menu>.menu-item:nth-of-type(3),
.sub-menu>.menu-item:nth-of-type(4), .sub-menu>.menu-item:nth-of-type(5), .sub-menu>.menu-item:nth-of-type(6)>a {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff
}

.sub-menu>.menu-item>a:before {
  background: rgba(180, 189, 38, 1);
  top: 0
}

/* Sub Menu Color */
.menu>ol:first-child>.menu-item:nth-of-type(3)>.sub-menu>.menu-item>a:before {
  transform: rotateY(-90deg) translate3d(0, 0, 75px)
}

.menu>ol:first-child>.menu-item:nth-of-type(3)>.sub-menu>.menu-item:nth-of-type(1)>a:before {
  content: "Candle Safety"
}

.menu>ol:first-child>.menu-item:nth-of-type(3)>.sub-menu>.menu-item:nth-of-type(2)>a:before {
  content: "Brand Ambassadors"
}

.menu>ol:first-child>.menu-item:nth-of-type(3)>.sub-menu>.menu-item:nth-of-type(3)>a:before {
  content: "Wholesale"
}

.menu>ol:first-child>.menu-item:nth-of-type(3)>.sub-menu>.menu-item:nth-of-type(4)>a:before {
  content: "Policies and Procedures"
}

.menu>ol:first-child>.menu-item:nth-of-type(3)>.sub-menu>.menu-item:nth-of-type(5)>a:before {
  content: "Terms of Use"
}

.menu>ol:first-child>.menu-item:nth-of-type(3)>.sub-menu>.menu-item:nth-of-type(6)>a:before {
  content: "Privacy Policy"
}

.menu>ol:first-child>.menu-item:nth-of-type(3)>.sub-menu>.menu-item:hover>a {
  transform: rotateY(90deg)
}

.menu>ol:first-child>.menu-item:hover>.sub-menu {
  display: block
}

footer {
  background-color: none;
}

/* Far Left Footer */
#far-left-footer {
  text-align: center;
}

.lists {
  text-align: center;
}

.lists:hover {
  text-decoration: none;
}

/* Left Footer */
#left-footer {
  text-align: center;
}

/* Right Footer */
#right-footer {
  text-align: center;
}

/* Far Right Footer */
#far-right-footer {
  text-align: center;
}

#social-links {
  font-size: 30px;
}

ul {
  list-style-type: none;
}
/*index_section*/
#home-info {
  text-align: center;
}

.bgimage {
  width: 100%;
  height: 500px;
  background: url('img/candles3.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.row {
  display: flex;
  flex-direction: row;
}

#top {
  text-align: center;
  background-color: rgba(98, 144, 33, 1);
}

#backttb {
  background-color: rgba(98, 144, 33, 1);
}

#backttb:hover {
  background-color: rgba(122, 181, 43, 1);
}

#lbackttb:hover {
  text-decoration: none;
}
/*products_section*/
.nav ul {
    *zoom:1;
    list-style:none;
    margin:0;
    padding:0;
    background:#333;
}
.nav ul:before,.nav ul:after {
    content:"";
    display:table;
}
.nav ul:after {
    clear:both;
}
.nav ul > li {
    float:left;
    position:relative;
}
.nav a {
    display:block;
    padding:10px 20px;
    line-height:1.2em;
    color:#fff;
    border-left:1px solid #595959;
}
.nav a:hover {
    text-decoration:none;
    background:#595959;
}
.nav li ul {
    background:#273754;
}
.nav li ul li {
    width:200px;
}
.nav li ul a {
    border:none;
}
.nav li ul a:hover {
    background:rgba(0,0,0,0.2);
}
.nav li ul {
    position: absolute;
    left:0;
    top:36px;
    z-index:1;
    max-height:0;
    overflow:hidden;
    -webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
    -webkit-transform-origin:50% 0;
    -webkit-transition:350ms;
    -moz-transition:350ms;
    -o-transition:350ms;
    transition:350ms;
}
.nav ul > li:hover ul {
    max-height:1000px;
    -webkit-transform:perspective(400) rotate3d(0,0,0,0);
}
#productul {
  max-height: 155px;
  overflow: auto;
}
  /*popup window*/
.box {
  width: 155px;
  height: 40px;
  margin: 0 auto;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/2-px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.btn-secondary:hover {
  background-color: rgba(98, 143, 35, 1);
}
.proddesc {
  text-align: center;
}
.prodtitle {
  text-align: center;
}


/*sign-in-or-register*/

  /* Start of signin */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
  /* end of Signin
  /* start of Register */
  * {box-sizing: border-box}
  /* Full-width input fields */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  /* Add a background color when the inputs get focus */
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  button:hover {
    opacity:1;
  }

  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }

  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }

  /* Add padding to container elements */
  .container {
    padding: 16px;
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }

  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }

  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /* end of Register */

/*store-links*/
.ltitle {
  text-align: center;
}
.lbody {
  text-align: center;
}
/*connect with us*/
.infopage {
  text-align: center;
}
/*cart*/
#cart-header {
  text-align: center;
}
#cart-hr {
  border: 1px solid black;
}
#product-name, #price-value, #remove-button, #quantity-counter{
  margin-top: 50px;
}
  /*quantity*/
  .quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 45px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}
#total-align {
  text-align: right;
  padding-right: 10px;
}
/*media*/
@media screen and (min-width:321px) and (max-width:799px) {
  .menu {
    width: 320px;
    margin: auto
  }
}

@media (max-width:799px) {
  .menu>ol:first-child>.menu-item {
    width: 100%
  }

  .menu>ol:first-child>.menu-item>a {
    box-shadow: none
  }

  .menu>ol:first-child>.menu-item:nth-of-type(3)>a {
    border: 1px solid #fff;
    border-left: none;
    border-right: none
  }

  .sub-menu>.menu-item {
    margin: auto
  }
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
